
.icon-ok:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-euro:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */